* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 1000px;
    padding-top: 80px;
}

p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

div {
    font-family: Arial;
}