* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248,248);
}

p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

div {
    font-family: Arial;
}