.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.left-section {
    background-color: aqua;
    width: 150px;
}
.youtube-logo {
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
}

.middle-section {
    flex: 1;
    background-color: blue;
    margin-left: 70px;
    margin-right: 35px;
    /* max-width: 500px; */
}
.search-ber {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    width: 400px;
    height: 35px;
    border-radius: 30px;
    padding-left: 15px;
    border-width: 1px;
    border-color: rgba(179, 175, 175, 0.814);
}

.right-section {
    background-color: brown;
    width: 200px;
}

