.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}



.left-section {
    display: flex;
    align-items: center;
}
.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.youtube-logo {
    height: 20px;
    cursor: pointer;
}



.middle-section {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
}
.search-ber {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-style: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
}
.search-ber::placeholder {
    font-family: Arial;
    font-family: 16px;
}
.search-button {
    height: 36px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.search-button, 
.voice-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip{
    opacity: 1;
}

.search-icon {
    height: 25px;
}
.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}
.voice-search-icon {
    height: 24px;
}



.right-section {
    width: 180px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}
.upload-icon {
    height: 24px;
    cursor: pointer;
}
.upload-icon:hover {
    
}

.youtube-apps-icon {
    height: 24px;
    cursor: pointer;
}
.notifications-icon {
    height: 24px;
    cursor: pointer;
}
.current-user-picture {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer;
}