.sidebar {
   position: fixed;
   background-color: white;
   top: 55px;
   left: 0;
   bottom: 0;
   width: 72px;
   border-right-width: 1px;
   border-right-style: solid;
   border-right-color:  rgb(228, 228, 228);
   padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link-img {
    height: 24px;
    margin-bottom: 4px;
}