.sidebar {
   position: fixed;
   background-color: white;
   top: 55px;
   left: 0;
   bottom: 0;
   width: 72px;
}

.sidebar-link {
    height: 74px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link-img {
    height: 24px;
    margin-bottom: 7px;
}